@tailwind base;
@tailwind components;
@tailwind utilities;

#favorite{
    display: none;
    transition-duration: 300ms;
    
  }
  #card:hover{
    #favorite{
      display: inline-block;
      transition-duration: 200ms;
    }
  }
 